doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/pgwmodal.css')
		link(rel='stylesheet', href='/font/css/open-iconic.css')
		script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.6/zepto.js')
		script(type='text/javascript', src='/javascripts/menu.js')
	body
		#main
			#menu
				h1 opérations distantes
				.param
					.lbl Chemin:
					input(type='text',id='path',value='#{path}')
				.action#list LIST
				.send#upload UPLOAD
				.delete#delete DELETE DIRECTORY
				br
				h1 opérations locales
				.param
					.lbl Chemin:
					input(type='text',id='loc-path',value='E:\\tmp\\')
				.action#loc-list LIST LOCAL
				.send#download DOWNLOAD
			#result
				h1 réponse
				#response
					h2 sélectionnez une opération
					<br>
					h2 ou changez un chemin pour en voir le contenu.
		.aql
			canvas(class="ant", width="817", height="273", data-chart="bar", data-scale-line-color="transparent", data-scale-grid-line-color="rgba(255,255,255,.05)", data-scale-font-color="#a2a2a2", data-labels="['August','September','October','November','December','January','February']", data-value="[{ label: 'First dataset', data: [65, 59, 80, 81, 56, 55, 40] }, { label: 'Second dataset', data: [28, 48, 40, 19, 86, 27, 90] }]", style="width: 817px; height: 273px;")
