extends layout

block content
	#main
		#menu
			h1 opérations distantes
			.param
				.lbl Chemin:
				input(type='text',id='path',value='#{path}') 
			.action#list LIST
			.send#upload UPLOAD
			.delete#delete DELETE DIRECTORY
			br
			h1 opérations locales
			.param
				.lbl Chemin:
				input(type='text',id='loc-path',value='E:\\tmp\\') 
			.action#loc-list LIST LOCAL
			.send#download DOWNLOAD
		#result
			h1 réponse
			#response 
				h2 sélectionnez une opération
