body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#main, .param {
	overflow:auto;
}

#menu {
	width: 50%;
	max-width: 500px;
	float: left;
}

#result {
	min-width: 300px;
}

#response {
	background-color: #E2F2F2;
	padding: 20px;
	height: 500px;
	overflow: scroll;
	word-wrap: break-word;
	border: solid 3px;
}

h1 {
	text-align: center;
}

.action, .send, .delete  {
	margin: 15px;
	padding:15px;
	color: #FFFFFF;
	font-size: 30px;
	font-weight: bold;
}

.action {
	background-color: #5A8B45;	
}

.send {
	background-color: #5A8B8B;
}

.delete {
	background-color: #FF4E4E;
}


.lbl {
	color: #5A8B45;
	font-weight: bold;	
}

.param > * {
	float:left;
	margin: 15px;
	font-size: 30px;
}

.param > input {
	font-size: 20px;
	margin-top: 15px;
}

.red {
	color: #FF4E4E;
}

.blue {
	color: #5A8B8B;
}

.green {
	color: #5A8B45;
}

.file, .folder {
	font-size: 18px;
	padding: 2px;
}